.App {
  text-align: center;
  background-color: beige;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
  background-color: red;
  max-height: 100px;
  display: flex;
  justify-content: center;
}

.header img { 
  width: 200px;
  height: 85px;
}

button {
  background-color: red;
  color:white;
  border: 3px solid lightblue;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  font-size: medium;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background-color: rgb(89, 168, 241)
}

.InfoStatsWrapper {
  background-color: white;
  display:flex;
  flex-direction: column;
}

.InfoWrapper{
  display: flex;
  flex-direction: column;
  
}

.randomPokemonList{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.randomListItem{
  margin: 5px;
  padding: 5px;
  width: 50%;
  font-size: small;
 
}