/* App styling */
.App {
  /* text-align: center; */
  background-color: beige;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* styling for Loading component */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%
}

/* header component styling */
.header {
  background-color: red;
  max-height: 100px;
  display: flex;
  justify-content: center;

}

.header img { 
  width: 200px;
  height: 85px;
}

/* button styling */
button {
  background-color:rgb(89, 168, 241);
  color:white;
  border: none;
  border-radius: 30px;
  width: 40%;
  padding: 10px;

  margin-bottom: 20px;
  font-size: medium;
  font-weight: 700;
  cursor: pointer;
  transition: all 0.5s;
}

button:hover {
  background-color: red;
}

/* Styling for the pokemon cards */
.InfoStatsWrapper {
  background-color: black;
  display:flex;
  flex-direction: column;
}

.InfoWrapper{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  padding: 10px;
  color: white;
  font-weight: bolder;
}

.InfoWrapper h6 {
  text-align: center;
  color: red;
  font-weight: bolder;
}

.randomPokemonList{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.randomListItem{
  margin: 5px;
  padding: 5px;
  width: 50%;
  font-size: small;
}

/* Styling for LandingCard component*/

.landingView {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.landingText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: large;
  color:red;
  font-weight: bolder;
}